.container{
   background: url(../assets/photo-1463320726281-696a485928c7.jpeg);
   background:bg(0, 0, 50, 0.3); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.form-sec{
    justify-content: space-evenly;
}
.form-sec{
    border: 2px solid black;
    padding-bottom: 30%;
    
}
.user-form{
    color:antiquewhite;
    /* border: 2px; */
    
}
 select{
    width: 50%;
    
    

}
.display{
    border: 2px solid black;
    background-color: antiquewhite;
}