/* start of Header css */
body{
  overflow-x: hidden;
  font-family: poppins;
}
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }
  nav{
      background-color: #0A1F57;
  }
  .container-fluid-contact{
    padding-top: 5%;
  }
  .cnt{
    text-align: center;
  }
  footer{
    text-align: center;
    background-color: #010857;
    color: wheat;
    padding-top: 40px;
    padding-bottom: 40px;
}
#fnote{
    font-size: 22px;
    color: white;
}
ul li {
  padding-right:70px;
}
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
.navlink{
  color: #F5DEB3 !important;
}