body{
  overflow-x: hidden;
}

/* start of Header css */
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }
  nav{
      background-color: #0a1f57;
      

      
  }

 /* End of header css */

/* Carousel css */


/* End of Carousel css */

/* About us styling */
.aboutus{
  margin: 76px 100px 0px 50px;
  
}
.abt1{
  background-image: url(../assets/image1.jpeg);
  background-position: center;
}
.abt2{
  padding-right: 50px;
}
/* Book section */
.container{
  padding-top: 30px;
  padding-bottom: 30px;
}
.container h2,p,h4{
  text-align: center;
}
.book1 .book2 .book3 .book4{
  border: solid 2px black;
}
/* Book 1 */
.book1{
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  border-radius: 10px;
}
#stars{
  font-size: 28px;
  color: yellow;
}
/* Book 2 */
.book2{
  background-repeat: no-repeat;
  background-size: cover; 
  color: transparent;
  border-radius: 10px;
}
#stars{
  font-size: 28px;
  color: yellow;
}
/* Book 3 */
.book3{
  background-repeat: no-repeat;
  background-size: cover; 
  color: transparent;
  border-radius: 10px;
}
#stars{
  font-size: 28px;
  color: yellow;
}
/* Book 4 */
.book4{
  background-repeat: no-repeat;
  background-size: cover; 
  color: transparent;
  border-radius: 10px;
}
#stars{
  font-size: 28px;
  color: yellow;
}

/* Button styling */
.buy{
  background-color: transparent;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  font-size: 20px; 
  margin-left: 40px;
}
.buy:hover{
  background-color: green;
  color: green;

}

/* Review section */
.review{
  text-align: center;
  background-image: url(../assets/photo-1463320726281-696a485928c7.jpeg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.rev-main{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 90, 0.6);
}
#cimage{
  border-radius: 50%;
  border: solid 2px white;
}

/* footer styling start here */
footer{
    margin-top: 76px;
    text-align: center;
    background-color: #010857;
    color: wheat;
    padding-top: 40px;
    padding-bottom: 40px;
}
#fnote{
    font-size: 22px;
    color: white;
}